<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BaseInitMethods.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BaseInitMethods.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BaseInitMethods.Properties.SettingsBase>
            <setting name="Type_func_int" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Count_vars" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AvrCountTerms" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Load_UFS_file_name" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="init_everyone_with_everyone_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_stable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_сount_rules" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="init_by_samples_conf_Type_func" serializeAs="String">
                <value>0</value>
            </setting>
        </BaseInitMethods.Properties.SettingsBase>
        <BaseInitMethods.Settings1>
            <setting name="Type_func_int" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Count_vars" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AvrCountTerms" serializeAs="String">
                <value>3</value>
            </setting>
        </BaseInitMethods.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
