<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CMeanInit.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMeanInit.Properties.SettingsBase>
            <setting name="k_mean_rules_generator_conf_type_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_count_rules" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_Max_iterate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_need_precision" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_nebulisation_factor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_type_alg" serializeAs="String">
                <value>0</value>
            </setting>
        </CMeanInit.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
