<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GSAbin.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GSAbin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GSAbin.Properties.Settings1>
            <setting name="AvrCountTerms" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Type_func_int" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Type_initAlg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxFeature" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberAgents" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="gsa_iter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gsa_G0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gsa_alpha" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="gsa_epsilon" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="ErrorBestUser" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="gsa_sortWay" serializeAs="String">
                <value>0</value>
            </setting>
        </GSAbin.Properties.Settings1>
        <GSAbin.Settings1>
            <setting name="AvrCountTerms" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Type_func_int" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Type_initAlg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxFeature" serializeAs="String">
                <value>5</value>
            </setting>
        </GSAbin.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
