<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShrinkInit.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShrinkInit.Properties.SettingsBase>
            <setting name="Term_shrink_and_rotate_conf_count_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Term_shrink_and_rotate_conf_size_of_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pareto_simpler_Request_count_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShrinkFeatures" serializeAs="String">
                <value/>
            </setting>
            <setting name="SimpleChooseFeatureConf" serializeAs="String">
                <value/>
            </setting>
        </ShrinkInit.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
