<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KrillHerd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClassLibrary1.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KrillHerd.Properties.Settings>
            <setting name="population_krill" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="inertia_weight_n" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="constant_ct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="number_iterations_I" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="inertia_weight_f" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="physical_distribution_Dmax" serializeAs="String">
                <value>0.006</value>
            </setting>
            <setting name="physical_distribution_Nmax" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="epsilon_e" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="foraging_speed_Vf" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="number_of_populations" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="neighbor_coeff" serializeAs="String">
                <value>0.5</value>
            </setting>
        </KrillHerd.Properties.Settings>
        <ClassLibrary1.Properties.Settings>
            <setting name="population_krill" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="inertia_weight_n" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="constant_ct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="number_iterations_I" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="inertia_weight_f" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="physical_distribution_Dmax" serializeAs="String">
                <value>0.006</value>
            </setting>
            <setting name="physical_distribution_Nmax" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="epsilon_e" serializeAs="String">
                <value>0.01</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
        <ClassLibrary1.Properties.Settings1>
            <setting name="population_krill" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="inertia_weight_n" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ct_constant" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="number_iterations" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="inertia_weight_f" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="physical_distribution" serializeAs="String">
                <value>0.006</value>
            </setting>
            <setting name="random_vector" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="epsilon" serializeAs="String">
                <value>0.01</value>
            </setting>
        </ClassLibrary1.Properties.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
