<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mix_core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Approximate_core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    
    </configSections>
    <runtime>
        <loadFromRemoteSources enabled="true"/>
      </runtime>
    <userSettings>
        <Mix_core.Properties.Settings>
            <setting name="init_by_samples_conf_Type_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Global_count_restart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="init_everyone_with_everyone_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="init_everyone_with_everyone_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_log_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Index0_add_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Index0_learn_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Index1_learn_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_FS_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_stable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_сount_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Term_Config_Random_Search_count_iteration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Term_Config_Random_Search_count_generate_by_iteration"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="consq_Config_Random_Search_count_iteration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="consq_Config_Random_Search_count_generate_by_iteration"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PSO_population" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PSO_iter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PSO_c1" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="PSO_c2" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="Pareto_simpler_Request_count_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="init_everyone_with_everyone_agv_count_terms" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Term_shrink_and_rotate_conf_count_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Term_shrink_and_rotate_conf_size_of_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_type_func" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_count_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_type_alg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_nebulisation_factor"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_Max_iterate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_need_precision" serializeAs="String">
                <value>1E-06</value>
            </setting>
            <setting name="ES_method_size_population" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ES_method_size_child" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ES_method_conf_t" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ES_method_conf_b" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ES_method_Count_iteration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ES_method_Count_type_cross" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_Count_uniform_level" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ES_method_Count_Multipoint" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ES_method_type_init" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_Count_Унифицированный_level" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ES_method_type_mutate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_b_rotate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Load_UFS_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Weigths_Config_Random_Search_count_iteration"
                serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Weigths_Config_Random_Search_count_generate_by_iteration"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Index1_add_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Index2_learn_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="count_repeate_full_cirle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Index4_learn_algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MultiSelectFolder" serializeAs="String">
                <value />
            </setting>
        </Mix_core.Properties.Settings>
        <Approximate_core.Properties.Settings>
            <setting name="init_by_samples_conf_Type_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Global_count_restart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="init_everyone_with_everyone_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="init_everyone_with_everyone_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_log_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="generator_rule_choose_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="learn_algorithm_choose_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="consq_cong_choose_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_FS_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_stable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Generator_Rulles_simples_random_сount_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Term_Config_Random_Search_count_iteration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Term_Config_Random_Search_count_generate_by_iteration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="consq_Config_Random_Search_count_iteration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="consq_Config_Random_Search_count_generate_by_iteration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PSO_population" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PSO_iter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PSO_c1" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="PSO_c2" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="Pareto_simpler_Request_count_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="init_everyone_with_everyone_agv_count_terms" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Term_shrink_and_rotate_conf_count_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Term_shrink_and_rotate_conf_size_of_shrink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_type_func" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_count_rules" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_type_alg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_nebulisation_factor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_Max_iterate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="k_mean_rules_generator_conf_need_precision" serializeAs="String">
                <value>1E-06</value>
            </setting>
            <setting name="ES_method_size_population" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ES_method_size_child" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ES_method_conf_t" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ES_method_conf_b" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ES_method_Count_iteration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ES_method_Count_type_cross" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_Count_uniform_level" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ES_method_Count_Multipoint" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ES_method_type_init" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_Count_Унифицированный_level" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ES_method_type_mutate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_b_rotate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Load_UFS_file_name" serializeAs="String">
                <value/>
            </setting>
        </Approximate_core.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
