<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntsMethods.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AntsMethods.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AntsMethods.Properties.SettingsBase>
            <setting name="ACO_CountEliteAnt" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ACO_ExtremumCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ACO_IterationNum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ACO_AgentsInPopulation" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ACO_decision_archive_size" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ACO_Q" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ACO_Xi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MACO_Used" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MACO_Used_times" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HybrideSendEach" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HybrideGetEach" serializeAs="String">
                <value>5</value>
            </setting>
        </AntsMethods.Properties.SettingsBase>
        <AntsMethods.Settings1>
            <setting name="ACO_CountEliteAnt" serializeAs="String">
                <value>5</value>
            </setting>
        </AntsMethods.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
