<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeesMethods.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeesMethods.Properties.SettingsBase>
            <setting name="ABCW_Search_count_iter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ABCW_Search_count_hive" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ABCW_Search_part_scout" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ABCW_Search_init_temperature" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ABCW_Searcg_cold_coeff" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="ABCW_g_coef" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ABCW_Border1" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="ABCW_Border2" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ABCW_Border3" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ABCW_Repeat1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ABCW_Repeat2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCW_Repeat3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ABCW_propability_tournament" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ABCW_TypeSelect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCS_CountScout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ABCS_CountWorkers" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ABCS_CountRulesAdd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCS_TypeTerms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ABCS_Used" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ABCS_UsedTimes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ABCP_hiveSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ABCP_percentScouts" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ABCP_initTemp" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ABCP_coeffTemp" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="ABCP_iterration" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ABCP_selectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ABCP_Border1" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ABCP_Border2" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ABCP_Border3" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ABCP_Repeat1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ABCP_Repeat2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCP_Repeat3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ABCS_HybrideSendEach" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCS_HybrideGetEach" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ABCDS_Iter" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ABCDS_CountWorkers" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ABCDS_CountScout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ABCDS_CountOfBestBase" serializeAs="String">
                <value>5</value>
            </setting>
        </BeesMethods.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
