<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DynamicTune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DynamicTune.Properties.Settings>
            <setting name="MaxError" serializeAs="String">
                <value>10.1</value>
            </setting>
            <setting name="RulesCount" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Type_func_int" serializeAs="String">
                <value>0</value>
            </setting>
        </DynamicTune.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
