<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeneticAlgorithmTune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClassLibrary1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeneticAlgorithmTune.Properties.Settings>
            <setting name="Gen_iter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Gen_population" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Gen_children" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="InitType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CrossoverType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InitScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MutationScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CrossoverProb" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PointsCrossoverVar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Used_GA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count_MultiGoal" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HybrideSendEach" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HybrideGetEach" serializeAs="String">
                <value>20</value>
            </setting>
        </GeneticAlgorithmTune.Properties.Settings>
        <ClassLibrary1.Properties.Settings>
            <setting name="Gen_iter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Gen_population" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Gen_children" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="InitType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CrossoverType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InitScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MutationScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CrossoverProb" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PointsCrossoverVar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Used_GA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Count_MultiGoal" serializeAs="String">
                <value>5</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
        <ClassLibrary1.Settings1>
            <setting name="PSO_iter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PSO_population" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PSO_c1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PSO_c2" serializeAs="String">
                <value>0</value>
            </setting>
        </ClassLibrary1.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
