<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MBA_project.Properties.SettingsMBA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MBA_project.SettingsMBA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MBA_project.Properties.SettingsMBA>
            <setting name="count_iteration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="count_population" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="exploration_factor" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="reduce_koefficient" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="priznaki_usech" serializeAs="String">
                <value/>
            </setting>
            <setting name="iter_descrete" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="параметр_лямбда" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="точность" serializeAs="String">
                <value>0.001</value>
            </setting>
        </MBA_project.Properties.SettingsMBA>
        <MBA_project.SettingsMBA>
            <setting name="count_iteration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="count_population" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="exploration_factor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="reduce_koefficient" serializeAs="String">
                <value>1000</value>
            </setting>
        </MBA_project.SettingsMBA>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
