<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonkeyOptimization.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonkeyOptimization.Properties.SettingsBase>
            <setting name="population_count" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="step" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="watch_jump_parameter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="somersault_interval_left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="somersault_interval_right" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="crawl_iter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="jump_iter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="somersault_iter" serializeAs="String">
                <value>10</value>
            </setting>
        </MonkeyOptimization.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
