<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiGoal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiGoal.Properties.Settings>
            <setting name="ThreeMultiGoal_Iterrate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ThreeMultiGoal_stepPercent" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="ThreeMultiGoal_stepCoplexity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThreeMultiGoal_stepIterability" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="ThreeMultiGoal_stepDivider" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThreeMultiGoal_stepTries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThreeMultiGoal_countSysteminCell" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThreeMultiGoal_typeComplexity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThreeMultiGoal_typeInterpreting" serializeAs="String">
                <value>0</value>
            </setting>
        </MultiGoal.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
