<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PSOMethods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PSOMethods.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PSOMethods.Properties.Settings>
            <setting name="UseBFO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="countTimeUsedBFO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="countIteratioioninBFO" serializeAs="String">
                <value>1000</value>
            </setting>
        </PSOMethods.Properties.Settings>
        <PSOMethods.Properties.SettingsBase>
            <setting name="PSO_iter" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Term_Config_Random_Search_count_generate_by_iteration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PSO_population" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PSO_c1" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="PSO_c2" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="PSO_Used" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PSO_Used_times" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SendByPSO" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SendByBactery" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IteratePSOtoSend" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HybrideSendEach" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HybrideGetEach" serializeAs="String">
                <value>5</value>
            </setting>
        </PSOMethods.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
