<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwallowSwarmOptimization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SwallowSwarmOptimization.Properties.Settings>
            <setting name="Количество_итераций" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Количество_всех_частиц" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Количество_локальных_лидеров" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Количество_бесцельных_частиц" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Мат_ожидание" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Отклонение" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Количество_популяций" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Итераций_до_обмена" serializeAs="String">
                <value>5</value>
            </setting>
        </SwallowSwarmOptimization.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
