<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EsMethods.Properties.SettingsBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EsMethods.Properties.SettingsBase>
            <setting name="ES_method_Count_Multipoint" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ES_method_Count_iteration" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ES_method_size_population" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ES_method_size_child" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ES_method_conf_t" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ES_method_conf_b" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ES_method_Count_type_cross" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_Count_uniform_level" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ES_method_type_init" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_type_mutate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_method_b_rotate" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ES_Used" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ES_Used_times" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HybrideSendEach" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HybrideGetEach" serializeAs="String">
                <value>20</value>
            </setting>
        </EsMethods.Properties.SettingsBase>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
